___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: 1, 2, 3, ...

Strings: A="Hello"

Lists: list=["1", "2", "x"]

Tuples: T=("a", "c")

Dictionaries: Name={"banana":2.5, "apple":3.1}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [67]:
51*2+(1/4)-2

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [112]:
#44
4*(6+5)

#29
4*6+5

#34
4+6*5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

What would you use to find a number’s square root, as well as its square?

In [802]:
# Square root:
49**0.5
#math.sqrt(49)

7.0

In [803]:
# Square:
7**2

49

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [804]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [805]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [806]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1])

o

In [807]:
# Method 2:
print(s[4])

o

## Lists

Build this list [0,0,0] two separate ways.

In [808]:
# Method 1:
zerolist=[0,0,0]

In [809]:
# Method 2:
zerolist2=[0]*3
print(zerolist2)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [810]:
list3 = [1,2,[3,4,'hello']]
print(list3)
list3[-1][-1]="goodbye"
print(list3)

[1, 2, [3, 4, 'hello']]
[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [831]:
list4 = [5,3,4,6,1]
print(sorted(list4))

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [832]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [833]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [834]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1])

['hello']

In [835]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2])

['hello']

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>

tuples não dá para alterar o conteúdo

How do you create a tuple?<br><br>

In [836]:
t=("a","b","c")

## Sets

What is unique about a set?<br><br>

Use a set to find the unique values of the list below:

In [837]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [838]:
# Answer before running cell
2 > 3

False

In [839]:
# Answer before running cell
3 <= 2

False

In [840]:
# Answer before running cell
3 == 2.0

False

In [841]:
# Answer before running cell
3.0 == 3

True

In [842]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [843]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!